/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  max-width: 100%;
  line-height: 1;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
  font-size: 62.5%;
}

* {
  box-sizing: border-box;
}

.container {
  display: flex;
  font-size: 1.6rem;
}

header {
  padding: 10px 0;
  background: #2f2b4a;
  width: 100%;
  margin-bottom: 10px;
  position: fixed;
  display: none;
}

header img {
  width: 30px;
  margin: 0 10px;
}
aside {
  display: flex;
  position: fixed;
  background: #2f2b4a;
  width: 250px;
  height: 100vh;
  padding: 30px 15px;
  flex-direction: column;
  justify-content: space-between;
}

aside img {
  width: 120px;
}

aside h1 {
  font-size: 5rem;
  color: white;
}

aside div a,
.dash {
  color: #bb1333;
  font-size: 1.6rem;
  text-decoration: none;
}

.dash {
  display: none;
}

aside div a:hover {
  text-decoration: underline;
}

.main {
  padding: 40px 20px;
  width: 80%;
  margin-left: 250px;
}

@media (max-width: 735px) {
  .container {
    display: block;
  }
  aside {
    display: none;
  }
  header {
    display: block;
    top: 0;
  }

  .dash {
    display: block;
    padding: 10px 0;
  }

  .main {
    width: 98%;
    padding: 0;
    margin: 0 auto;
    margin-top: 70px;
  }
}
.main h1 {
  font-size: 30px;
  font-weight: bold;
  margin: 10px;
}

.desc {
  line-height: 1.5;
  margin: 10px;
}

.course-sec {
  display: flex;
  flex-wrap: wrap;
}

.course {
  text-align: center;
  padding: 80px 20px;
  margin: 7px;
  width: 30%;
  border-radius: 5px;
  color: white;
  font-size: 20px;
  text-decoration: none;
}

@media (max-width: 768px) {
  .course {
    font-size: 1.8rem;
    width: 29%;
  }
}

@media (max-width: 735px) {
  .course-sec {
    flex-direction: column;
  }
  .course {
    margin: 5px 0;
    padding: 20px 10px;
    width: 100%;
  }
}

.course:first-child,
.course:nth-child(7) {
  background: #111;
}
.course:nth-child(2),
.course:nth-child(8) {
  background: #0c3d78;
}
.course:nth-child(3),
.course:nth-child(9) {
  background: #3bb5e6;
}
.course:nth-child(4) {
  background: #2f2c4b;
}
.course:nth-child(5) {
  background: #1a61af;
}

.course:nth-child(6) {
  background: #d84a5a;
}
.links {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.link {
  width: 30%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  line-height: 1.5;
}

@media (max-width: 500px) {
  .links {
    flex-direction: column;
  }

  .link {
    width: 100%;
  }
}

.link h3 {
  font-size: 2.4rem;
  margin: 10px 0;
}

.link a {
  color: #bb1333;
  text-decoration: none;
}

.link a:hover {
  text-decoration: underline;
}
